@import url('https://fonts.cdnfonts.com/css/consolas');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');

:root {
	--white: #ffffff;
	--black: #000000;
	--black-soft: #131313;
	--charcoal-dark: #191919;
	--charcoal: #1f1f1f;
	--charcoal-light: #242424;
	--gray-dark: #474747;
	--gray: #666666;
	--gray-light: #c6c6c6;
	--off-white: #e5e5e5;
	--blue-soft: #82aaff;
	--blue: #3b8eea;
	--blue-light: #abdcfd;
	--green: #c3e88d;
	--red: #f07178;
	--yellow: #ffcb6b;
	--purple: #c792ea;
	--olive-dark: #3e4534;
	--green-pale: #c5d7aa;
	--yellow-pale: #e3c999;
	--pink-pale: #db9c9f;
	--blue-pale: #a4b8e3;
}

html {
	height: 100%;
	overflow: hidden;
}

body {
	background-color: rgba(25, 25, 25, 0.94);
	color: var(--gray-light);
	font-family: 'Consolas', monospace;
	margin: 0;
	height: 100%;
	box-sizing: border-box;
	overflow-y: auto;
}

terminal-chat {
	display: flex;
	flex-direction: column;

	& chat-block {
		padding: 0.75rem 1.25rem;

		&:hover {
			background-color: color-mix(in srgb, var(--charcoal-light) 50%, transparent);
		}

		& pre {
			white-space: pre-wrap;
			font-family: 'Consolas', monospace;
			margin: 0;
			outline: none;
			line-height: 1.3;
		}

		&[from='user'] pre.input::before {
			content: 'chevron_right';
			font-family: 'Material Symbols Outlined';
			color: var(--green);
			font-size: 1.1em;
			vertical-align: -0.2em;
			transform: translateX(-15%);
			margin-right: 4px;
			display: inline-block;
			font-weight: normal;
			font-style: normal;
			line-height: 1;
			text-transform: none;
			letter-spacing: normal;
			word-wrap: normal;
			white-space: nowrap;
			direction: ltr;
			-webkit-font-smoothing: antialiased;
		}

		&[from='assistant'] pre.input {
			&::before {
				content: '• ';
				color: var(--purple);
			}

			&.msg {
				/* Mix purple with white */
				color: var(--purple);

				&::before {
					content: '✦ ';
				}
			}
		}
	}
}

/* VS Code-like Custom Scrollbars */
::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: transparent;
}

body:hover ::-webkit-scrollbar-thumb {
	background: color-mix(in srgb, var(--gray) 20%, transparent);
}

::-webkit-scrollbar-thumb:hover {
	background: color-mix(in srgb, var(--gray) 20%, transparent) !important;
}

::-webkit-scrollbar-thumb:active {
	background: color-mix(in srgb, var(--gray) 20%, transparent) !important;
}

::-webkit-scrollbar-corner {
	background: transparent;
}
